* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f7f7fd;
    color: #333;
}

header {
    position: sticky;
    top: 0px;
    z-index: 2;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 80px;
    background: white;
    border-bottom: 1px solid #dad9d9;
}

.logo {
    font-size: 20px;
    font-weight: 600;
}

.logo span {
    color: #5a5af5;
}

.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #444;
    font-weight: 500;
    font-size: 14px;
}

.nav-links a:hover {
    color: #5a5af5;
}


/* main contain width */
content {
    max-width: 1600px;
    justify-self: center;
}

/* Hero section */
.hero {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 80px 60px;
    min-height: 90vh;
    gap: 50px;
    max-width: 1200px;
    margin: auto;
}

/* left side hero */
.hero-left {
    max-width: 520px;
}

.welcome {
    color: #5a5af5;
    margin-bottom: 12px;
    font-size: 14px;
}

.hero-left h1 {
    font-size: 46px;
    margin-bottom: 12px;
}

.hero-left h1 span {
    color: #5a5af5;
}

.hero-left h2 {
    font-weight: 500;
    font-size: 22px;
    color: #555;
    margin-bottom: 20px;
}

.hero-text {
    font-size: 15px;
    color: #666;
    line-height: 1.6;
    margin-bottom: 30px;
}

/* buttons hero */
.hero-buttons {
    display: flex;
    gap: 18px;
}

.btn-primary {
    background: #5a5af5;
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    opacity: 1;
}

.btn-primary:hover{
    opacity: 0.9;
}

.btn-primary i {
    margin-left: 6px;
}

.btn-outline {
    border: 2px solid #5a5af5;
    color: #5a5af5;
    padding: 10px 22px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
}

.btn-outline:hover{
    background: #5a5af5;
    color: white;
}

.btn-outline i {
    margin-right: 6px;
}

/* profile img hero*/
.hero-right img {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    border: 4px solid #5a5af5;
}

/* About Section */
.about {
    padding: 70px 80px 100px 80px;
    background: #eaeaf1;
}

.section-title {
    text-align: center;
    font-size: 34px;
    margin-bottom: 60px;
}

.section-title span {
    color: #5a5af5;
}

/* About total container */
.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    max-width: 1200px;
    margin: auto;
}


/* about section image */
.about-image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
    border: 2px solid #5a5af5;
}

.about-content {
    max-width: 550px;
}

.about-content p {
    color: #555;
    line-height: 1.7;
    margin-bottom: 20px;
    font-size: 15px;
}

/* Skills section */
.skills {
    padding: 70px 80px 100px 80px;
    text-align: center;
    background: #f7f7fd;
}

.skills-title {
    font-size: 36px;
    margin-bottom: 10px;
}

.skills-title span {
    color: #5a5af5;
}

.skills-subtitle {
    color: #666;
    margin-bottom: 60px;
}

/* grid for skill section */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    max-width: 1100px;
    margin: auto;
}


/* skills card */
.skill-card {
    background: white;
    padding: 40px;
    border-radius: 14px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.06);
    border: 2px solid transparent;
    transition: 0.3s ease;
}

.skill-card img {
    width: 45px;
    margin-bottom: 15px;
}

.skill-card p {
    font-size: 18px;
    font-weight: 500;
}

.skill-card:hover {
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    border: 2px solid #5a5af5;
}

/* Project Section */
.projects {
    padding: 70px 80px 100px 80px;
    background: #eaeaf1;
    text-align: center;
}

.projects-title {
    font-size: 36px;
    margin-bottom: 10px;
}

.projects-title span {
    color: #5a5af5;
}

.projects-subtitle {
    color: #666;
    margin-bottom: 60px;
}


/* Grid for project section*/
.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1200px;
    margin: auto;
}

/* each project card */
.project-card {
    background: white;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);
    transition: 0.3s;
    border: 2px solid transparent;
    transition: 0.3s ease;
}

.project-card:hover{
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    border: 2px solid #5a5af5;
}

.project-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.project-content {
    padding: 25px;
    text-align: left;
}

.project-content h3 {
    margin-bottom: 10px;
    font-size: 20px;
}

.project-content p {
    font-size: 15px;
    color: #666;
    line-height: 1.6;
    margin-bottom: 15px;
}


/* links git and linkdin */
.project-links {
    display: flex;
    gap: 20px;
}

.project-links a {
    text-decoration: none;
    color: #5a5af5;
    font-weight: 500;
    font-size: 14px;
}

.project-links a:hover{
    color: black;
}

.project-links i {
    margin-right: 5px;
}

/* Resume section */
.resume {
    padding: 70px 80px 100px 80px;
    background: #f7f7fd;
    display: flex;
    justify-content: center;
}

.resume-card {
    max-width: 700px;
    width: 80%;
    text-align: center;
    padding: 60px 40px;
    border-radius: 22px;
    color: white;
    background: linear-gradient(135deg, #5a5af5, #6f66f3);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.resume-icon {
    font-size: 60px;
    margin-bottom: 25px;
}

.resume-card h2 {
    font-size: 40px;
    margin-bottom: 15px;
}

.resume-card p {
    max-width: 600px;
    margin: auto;
    line-height: 1.6;
    margin-bottom: 35px;
    opacity: 0.9;
}

/* resume download btn */
.resume-btn {
    display: inline-block;
    background: white;
    color: #5a5af5;
    padding: 16px 28px;
    border-radius: 12px;
    font-weight: 600;
    text-decoration: none;
    font-size: 16px;
}

.resume-btn i {
    margin-right: 8px;
}

.resume-btn:hover {
    background: #f1f1ff;
}

/* Contact section */
.contact {
    padding: 70px 80px 100px 80px;
    background: #f7f7fd;
    text-align: center;
}

.contact-title {
    font-size: 36px;
    margin-bottom: 10px;
}

.contact-title span {
    color: #5a5af5;
}

.contact-subtitle {
    color: #666;
    margin-bottom: 60px;
}


/* CONTAINER */
.contact-container {
    max-width: 1200px;
    margin: auto;
}


/* CONTACT INFO */

.contact-info {
    flex: 1;
    text-align: left;
}

.contact-info-container h3 {
    margin-bottom: 25px;
    font-size: 22px;
}

/* each contact cards */
.contact-card {
    display: flex;
    align-items: center;
    gap: 15px;
    background: white;
    padding: 18px;
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
    border: 2px solid transparent;
    transition: 0.3s ease;
}

.contact-card:hover{
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    border: 2px solid #5a5af5;
    cursor: pointer;
}

.icon-box {
    width: 50px;
    height: 50px;
    background: linear-gradient(135deg, #5a5af5, #6a63ff);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}

.label {
    font-size: 15px;
    color: #626262;
    margin-bottom: 2px;
}

.contact-card a{
    text-decoration: none;
    color: #333;
}

.contact-card a:hover{
    color: #5a5af5;
}

.contact-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 30px;
}

/* Footer */
.footer {
    background: #ffffff;
    padding: 30px 80px;
    border-top: 1px solid #e6e6e6;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.footer p {
    color: #666;
    font-size: 14px;
}

/* social icons in footer */
.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a {
    width: 42px;
    height: 42px;
    background: #f1f1f5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: #333;
    font-size: 18px;
    text-decoration: none;
    transition: 0.3s;
}

.social-icons a:hover {
    background: #5a5af5;
    color: white;
}